<link rel="import" href="../bower_components/vaadin-dialog/theme/material/vaadin-dialog-styles.html">

<dom-module id="custom-dialog" theme-for="vaadin-dialog-overlay">
    <template>
        <style include="material-dialog">
            [part="overlay"] {
                max-width: 1024px;
            }
        </style>
    </template>
</dom-module>