#AddButton, #AddMenuButton {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 8px;
    height: 40px;
    width: 150px;
}

#DeleteAllButton {
    margin-left: auto;
    margin-bottom: 8px;
    height: 40px;
    width: 150px;
}

.search-bar, .filters-layout {
    margin-top: 0;
    width: 100%;
}

#SearchField {
    width: 50%;
}

#IngredientForm #NameField {
    width: 50%;
    align-self: center;
}

#IngredientForm #CaloriesField, #CarbsField, #FatsField, #ProteinsField, #EquivalentField,
#MenuCategoryImageLinkField{
    width: 20%;
}

#CookingMethodNameField, #CountryForm #NameField, #CountryForm #CodeField, #CountryForm #CurrencyField,
#CurrencyForm #CurrencyNameField, #CurrencyForm #CurrencyCodeField,
#MealTypeForm #MealTypeNameField, #MealTypeForm #MealTypePriorityField,
#MenuCategoryForm #MenuCategoryNameField,
#RegionForm #RegionNameField, #RegionForm #RegionCountryField,
#UnitOfMeasureForm #FullNameField, #UnitOfMeasureForm #ShortNameField,
#RecipeCategoryForm #RecipeCategoryNameField,
#RecipeSubcategoryForm #RecipeSubcategoryNameField,
.prices-row {
    width: 100%;
}

.buttons-bar {
    margin-top: 30px;
    justify-content: center;
    width: 100%;
}

.app-navigation {
    align-self: center;
}

.vertical-menu {
    width: 15%;
    margin-top: 50px;
}

.vertical-menu a:-webkit-any-link {
    color: #6200ee;
}

.ingredient-price-editor #PriceValueField, .ingredient-price-editor #CurrencyCodeField,
.ingredient-price-editor #QuantityField {
    width: 10%;
}

.menu-author-info, .menu-row1, .menu-section {
    margin: 30px 0;
}

.menu-author-info #AuthorNameField, #MenuCategoryForm #MenuCategoryPriorityField,
#RecipeForm #RecipeNameField,#IngredientForm #IngredientCategoryField
{
    width: 50%;
}

#RecipeForm #RecipeCookingTimeField, #RecipeForm #RecipePreparingTimeField {
    width: 40%;
}

#RecipeForm #RecipeImageLinkField, #RecipeForm #RecipeSourceField {
    width: 70%;
}

.menu-author-info #MenuDescriptionArea {
    width: 80%;
}

#AuthorImage {
    width: 100px;
    height: 100px;
}

.small-image {
    width: 50px;
    height: 50px;
}

#days-header {
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

#days-header::before {
    margin-left: -100px;
}

#MenuNameField, #MenuCategoryNameField, #MealTypeNamesField {
    width: 30%;
}

#MenuIsActiveBox {
    margin: 30px;
}

.menu-edit-view .buttons-bar {
    margin-bottom: 30px;
    margin-top: 10px;
}

.recipe-card {
    margin: 0;
    padding: 0;
}

#Icon {
    width: 100%;
    justify-content: flex-end;
}

.cooking-step-editor {
    width: 100%;
    padding: 0;
    margin: 0;
    /*justify-content: space-evenly;*/
}

.cooking-step-editor #PriorityField {
    width: 5%;
}

.cooking-step-editor #DescriptionField {
    width: 60%;
    padding: 0;
}

.cooking-step-editor #CookingStepRow {
    width: 950px;
    align-items: flex-end;
    justify-content: space-between;
}
